<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65623292433-0l1qjs0g32keco503bcarh1i3f72e0f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65623292433-0l1qjs0g32keco503bcarh1i3f72e0f5</string>
	<key>API_KEY</key>
	<string>AIzaSyCCSkjc_7ubBrd7Qiv-mmTDMEbmx-9vrr0</string>
	<key>GCM_SENDER_ID</key>
	<string>65623292433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeamSloth.FireChat</string>
	<key>PROJECT_ID</key>
	<string>fire-chat-fad8e</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-chat-fad8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65623292433:ios:c6ea826b1921f0fa1bcfb0</string>
	<key>DATABASE_URL</key>
	<string>https://fire-chat-fad8e.firebaseio.com</string>
</dict>
</plist>